layer1 {z-index:  3; } 
#layer  {z-index:  1; } 
#layer  {z-index:  2; }
#layer  {z-index:  4; }
header{ 
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: normal;
  align-content: center;
  overflow: auto;
  background: white;
  border-bottom: 2px solid grey;

}

.header__logotip img{
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width:20%;
  height:50%;
  padding-left: 50px;
}

.header__list{
  display: flex;
  align-items: center;
  margin-left: 286px;
  margin-right: 20px;
	
}

.header__list ul{
	display: flex;
  align-items: normal;
  padding-top: 11px;
  padding-bottom: 15px;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__list li{
	font-family:'Balsamiq Sans', cursive;
	font-size: 20px;
	display: flex;
	  line-height: 17px;
	  text-decoration: none;
	  margin-right: 20px;
	  font-style: normal;
	  font-weight: normal;
	  color: rgba(31, 32, 65, 0.5);
	  width: max-content;
}

.header__list a{
	text-decoration:none;
}
font-family: 'Balsamiq Sans', cursive; 
.menu img{
  position: relative;
  width:1366px;
  height:768px;
  display: flex;
    align-items: normal;
    align-content: center;
    justify-content: center;
    list-style-type: none;
  z-index:9999;
}

._nav__input{
  position: absolute;
    width: 100%;
    top: 500px;
    display: flex;
    align-items: normal;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.input1{
  display:flex;
  position: absolute;
  width:200px;
  height:50px;
  left: 230px;
    top: 0px;
}

.input2{
  position: absolute;
  display:flex;
  width:200px;
  height:50px;
  left: 460px;
    top: 0px;
}
.input3{
  position: absolute;
  display:flex;
  width:200px;
  height:50px;
  left: 700px;
    top: 0px;
}
.input4{
  position: absolute;
  display:flex;
  width:200px;
  height:50px;
  left: 930px;
    top: 0px;
}

.__main__content {
    display: flex;
    align-items: normal;
    align-content: center;
    background: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}



.__content__block1{
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.__block1__el{
  padding-right:20px;
}

.img{
  width:150px;
  height:150px;
  display:flex;
  position: relative;
}

.button{
  width:20px;
  height:20px;

}

.h1{
  font-family:'Balsamiq Sans', cursive;
  font-size: 40px;
  color:#5E0DAC;
}

.nav{

}

.a{
  text-decoration: none;
  color:#5E0DAC;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  border-radius: 10%;
  border-bottom: 2px solid #5E0DAC;
}

.p{
  font-family:'Fredoka One', cursive;
  font-size: 16px;
  color:#5E0DAC;
}